
@charset "utf-8";
/*CSS Document*/

body{

background-color: #f6f5f5;
margin: 0px;
padding: 0px;
position: relative;
  z-index: 1;


/* border: 0px; */




}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;

}

section{

    width: 100%;
    height: 95vh;   
     background-image:url("image/portfolio.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    justify-content: space-between;
    align-items: center;
    height:60px;
    background-color:#f8d5d5 ;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;

}
nav a:hover{
    background-color: #ec0f0fc0;
}
nav ul{
    display:flex;
    
    
}


nav ul li a{
    float: right;
    margin:30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 1px;
    
    
}
    
    nav a:hover{
        background-color: #ec0f0fc0;
    }
    nav ul{
        display: flex;
    }
    
    
    nav ul li a{
        display: inline;
        margin:30px;
        font-family: myriad pro regular;
        color: #505050;
        font-size: px;
        font-weight: 800px;
        letter-spacing: 2px;
        text-align:center;
        
    }
    
       
        nav a:hover{
            background-color: #ec0f0fc0;
        }
        nav ul{
            display: flex;
        }
        
        
        nav ul li a{
            display: inline;
            margin:30px;
            font-family: myriad pro regular;
            color: #505050;
            font-size: 40px;
            font-weight: 800px;
            letter-spacing: 2px;
            text-align:center;            
}
.logo{

    font-family: RoadTest;
    color: #0d1cf0f8;
    font-size: 22px;

}
.active{

    font-weight: bold;
    color: #26272e;


}

.text-container p:nth-child(2){

    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size: 60px;

}
.text-container p:nth-child(3){

    font-family: myriad pro regular;
    color:#403e3e;
    font-size:30px;
    line-height:30px;

}


.text-container p:nth-child(4){

    font-family: myriad pro regular;
    color: #403e3e;
    font-size:30px;
    line-height: 30px;
}
.text-container{

    line-height: 0px;
    margin: 45px 0px 25px;

}

.text-container{
    position: absolute;
    left:13%;
    top:42%;
    transform: translate(-13%,-42%);

}
.text-container button{
    width:130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn{

    background-color:#750948;
    color: #f5f5f5;
    border: none;
   
    
}
.down-cv{

    background-color: #760a21;
    color:#f5f5f5;
    border:none;


}
/*.hire-btn .down-cv:hover{


    background-color: #ddd;


}*/

button:active{

transform: scale(1.1)
}

.Resume{
    height:560px;
    position:absolute;
    bottom: 40px;
    left:80%;
    right:0%;
    transform:translateX(-70%);
}
.about-container{

    width:90%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2) ;
    display:flex;
    margin:-7% auto 20px auto;
    position:relative;
    justify-content: space-evenly;
    align-items: center;

}
.about-container img{

    height:250px;

}
.about-text {
    width:550px;
}
.about-text p:nth-child(1){
    color:#403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-family: myriad pro;
    font-weight: bold;
    line-height:5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}
.about-text button{
    width: 120px;
    height:40px;
    font-weight: bold;
    color:#2b0505;
    outline: none;
    border:none;
    font-family: calibri;
    background-color: #262525,
}
.services{
    height:400px;
    background-color:#FFFFFF;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;

}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color:#3e3e3d;
    font-size: 15px;
    line-height: 5px;
}
.services-text p:nth-child(3){
    font-family: calibri;
    color:#7e7d7d;
}
.services-text{
    width:500px;
    margin: 50px 0px;
}
.box-1,.box-2,.box-3{
   
    width: 300px;
    height:320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0,0,0,0.3);
   
    
   
}
.box-container{
    display: flex;
    justify-content:space-between;

   

}
.box-1{
    background-image:url('image/xy.jpg') ;
   
    justify-content:space-between;
}
.box-2{
    background-image:url('image/z.jpg') ;
   
    justify-content:space-between;
    
    
}
.box-3{
    background-image:url('image/az.jpg') ;

    justify-content:space-between;
    
    
    
}
.box-1 span,
.box-2 span,
.box-3 span{
    width:40px;
    height:40px;
    border-radius:80%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
    padding: 10px;
    position: absolute;

}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color:#FFFFFF;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: calibri;
    text-align: center;
    width:230px;
    margin:0px 0px 20px 0px;
    color:#8f8f8f;
}
.box-1 button,
.box-2 button,
.box-3 button{

    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;


}

.contact-me{

    width:100%;
    height: 280px;
    background-color: blanchedalmond;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contact-me p{
    color:#948f8fc9;
    font-size: 30px;
    font-weight: bold;
    font-family: calibri;
    border-bottom: 2px solid #84e039;
}

.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #6b3737;
    outline: none;
    border: none;
   border-radius: 5px;
    font-size: 14px;
    font-weight: bold;

}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p{
    font-family: calibri;


}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #750948;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size:16px ;
    color: #02352c;
    width: 600px;
    text-align: center;
}
.social-icon a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #916b6b;
    margin: 20px 10px;
    border-radius: 50%;

}
.social-icon{
    display: flex;
}
.copyright{
    color: #0b1b1be0;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform:translateX(-50%);
}
.social-icon i{
    color: #000000;
}
.social-icon a:hover,
.a-social-b a:hover{
    background-color: aqua;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2) ;
    transition: all ease 0.5s;

}
.social-icon a:hover i,
.a-social-b a:hover i{
    color:#FFFFFF;
    transition: all ease 0.5s;
}
.social-icon a:hover i,
.a-social-b a:hover i{
    color:#FFFFFF;
    transition: all ease 0.5s;
}

.a-social-b{
    position: fixed;
    top: 50%;
    right:0px;
    transform: translateY(-50%);
}
.a social-b a{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin:0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow:2px 2px 12px rgb(0,0,0,0.2);
}
.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}
